@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'roggel';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../fonts/roggel-bold.woff2) format('woff2')
    }
    @font-face {
        font-family: 'roggel';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/roggel-regular.woff2) format('woff2')
    }
}